.DS_Store

# SDK location
/local.properties

# Android Studio files
/.idea
*.iml

# Build files
/build
/gradle
/captures
/.gradle
build.gradle
settings.gradle
gradlew
gradlew.bat
gradle.properties
.externalNativeBuild
